In [1]:
import pandas as pd
import numpy as np

In [15]:
english_stopwords = pd.read_csv("https://assets.datacamp.com/production/repositories/932/datasets/8042ed46ae7faef4951fcda771c5acc4fc3c0bf6/english_stopwords.txt", sep = ' ')

In [11]:
english_stopwords.head()

        0
0       i
1      me
2      my
3  myself
4      we

In [ ]:
##monty_python = pd.read_csv("https://assets.datacamp.com/production/repositories/932/datasets/4921d0bf6a73fd645f49f528faf74a871bb3a0e9/grail.txt", sep = ' ', header = None, delimiter = None)